<button {{action skip 'prev'}}>Previous</button>

{{#if playbackService.playing}}
  <button {{action pause}}>Pause</button>
{{else}}
  <button {{action resume}}>Play</button>
{{/if}}

<button {{action skip 'next'}}>Next</button>

<time>{{format-time seek}}</time>
{{title}}

{{#if playbackService.mute}}
  <button {{action mute false}}>Unmute</button>
{{else}}
  <button {{action mute true}}>Mute</button>
{{/if}}

<hr>

<h2>Queue</h2>

<ol>
  {{#each playbackService.playlist as |episode index|}}
    <li>
      {{#if (eq index playbackService.index)}}
        <strong>
          <span>{{episode.title}}</span>
        </strong>
      {{else}}
        <span>{{episode.title}}</span>
      {{/if}}
    </li>
  {{/each}}
</ol>