<button {{action skip 'prev'}}>Previous</button>

{{#if playbackService.playing}}
  <button {{action pause}}>Pause</button>
{{else}}
  <button {{action resume}}>Play</button>
{{/if}}

<button {{action skip 'next'}}>Next</button>

<time>{{format-time playbackService.position}}</time>
<input 
  type="range" 
  value={{playbackService.position}} 
  max={{playbackService.duration}}
  step=1000
  disabled>
<time>{{format-time playbackService.duration}}</time>

{{title}}

{{#if playbackService.mute}}
  <button {{action mute false}}>Unmute</button>
{{else}}
  <button {{action mute true}}>Mute</button>
{{/if}}

<input 
  type="range" 
  value={{playbackService.volume}} 
  max="100" step="1" 
  oninput={{action (mut playbackService.volume) value="target.value"}}>

<hr>

<h2>Queue</h2>

<ol>
  {{#each playbackService.playlist as |episode index|}}
    <li>
      {{#if (eq index playbackService.index)}}
        <strong>
          <span>{{episode.title}}</span>
        </strong>
      {{else}}
        <span>{{episode.title}}</span>
      {{/if}}
    </li>
  {{/each}}
</ol>