<div class="level">
  <div class="level-left">
    <div class="level-item player__controls">
      <div class="field is-grouped">
        <p class="control">
          <button class="button" {{action skip 'prev'}} disabled={{not queue.hasPrevious}}>
            <span class="icon">
              {{fa-icon 'step-backward'}}
            </span>
          </button>
        </p>
        <p class="control">
          <button class="button is-primary" {{action togglePause}}>
            <span class="icon">
              {{fa-icon (if hifi.isPlaying 'pause' 'play')}}
            </span>
          </button>
        </p>
        <p class="control">
          <button class="button" {{action skip 'next'}} disabled={{not queue.hasNext}}>
            <span class="icon">
              {{fa-icon 'step-forward'}}
            </span>
          </button>
        </p>
      </div>
    </div>
    <div class="level-item">
      <time class="label">{{format-time hifi.position}}</time>
    </div>
    <div class="level-item player__progress">
      <progress class="progress is-primary" value={{progression}} max="100">{{progression}}%</progress>
    </div>
    <div class="level-item">
      <time class="label">{{format-time hifi.duration}}</time>
    </div>
    <div class="level-item">
      <div class="field is-grouped player__volume">
        <div class="control">
          <input value={{hifi.volume}} 
            type="range" 
            class="input is-primary"
            max="100" step="1" 
            oninput={{action (mut hifi.volume) value="target.value"}}>
        </div>
        <div class="control">
          <button class="button" {{action toggleMute}}>
            <span class="icon">
              {{fa-icon (if hifi.isMuted 'volume-off' 'volume-up')}}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
      <article class="media player__track">
        <figure class="media-left">
          <img src="http://bulma.io/images/placeholders/48x48.png">
        </figure>
        <div class="media-content">
          <div class="content is-small">
            <p>
              Adoprixtoxis <br>
              <strong>{{title}}</strong>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="level-item">
      <button class="button" {{action toggleQueue}}>
        <span class="icon">
          {{fa-icon 'list'}}
        </span>
      </button>
    </div>
  </div>
</div>

{{#if showQueue}}
  <div class="queue">
    <h2>Queue</h2>
    <ol>
      {{#each queue.tracks as |track index|}}
        <li>
          {{#if (eq index queue.index)}}
            <strong>
              <span>{{track.title}}</span>
            </strong>
          {{else}}
            <span>{{track.title}}</span>
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </div>
{{/if}}
