<div class="player__controls">
  <button {{action skip 'prev'}}>Previous</button>

  <button {{action togglePause}}>
    {{if hifi.isPlaying 'Pause' 'Play'}}
  </button>

  <button {{action skip 'next'}}>Next</button>
</div>

<div class="player__progress">
  <time>{{format-time hifi.position}}</time>
  <input 
    type="range" 
    value={{hifi.position}} 
    max={{hifi.duration}}
    step=1000
    disabled>
  <time>{{format-time hifi.duration}}</time>
</div>

<div class="player__track">
  {{title}}
</div>

<div class="player__volume">
  <button {{action toggleMute}}>
    {{if hifi.isMuted 'Unmute' 'Mute'}}
  </button>

  <input value={{hifi.volume}} 
    type="range" 
    max="100" step="1" 
    oninput={{action (mut hifi.volume) value="target.value"}}>
</div>

<div class="player__queue">
  <button {{action toggleQueue}}>
    {{if showQueue 'Hide queue' 'Show queue'}}
  </button>
</div>

<hr>

{{#if showQueue}}
<div class="queue">
  <h2>Queue</h2>
  <ol>
    {{#each queue.tracks as |track index|}}
      <li>
        {{#if (eq index queue.index)}}
          <strong>
            <span>{{track.title}}</span>
          </strong>
        {{else}}
          <span>{{track.title}}</span>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</div>
{{/if}}