<button {{action skip 'prev'}}>Previous</button>

{{#if hifi.isPlaying}}
  <button {{action pause}}>Pause</button>
{{else}}
  <button {{action play}}>Play</button>
{{/if}}

<button {{action skip 'next'}}>Next</button>

<time>{{format-time hifi.position}}</time>
<input 
  type="range" 
  value={{hifi.position}} 
  max={{hifi.duration}}
  step=1000
  disabled>
<time>{{format-time hifi.duration}}</time>

{{title}}

{{#if hifi.isMuted}}
  <button {{action mute false}}>Unmute</button>
{{else}}
  <button {{action mute true}}>Mute</button>
{{/if}}

<input 
  type="range" 
  value={{hifi.volume}} 
  max="100" step="1" 
  oninput={{action (mut hifi.volume) value="target.value"}}>

<hr>

<h2>Queue</h2>

<ol>
  {{#each queue.tracks as |track index|}}
    <li>
      {{#if (eq index queue.index)}}
        <strong>
          <span>{{track.title}}</span>
        </strong>
      {{else}}
        <span>{{track.title}}</span>
      {{/if}}
    </li>
  {{/each}}
</ol>